
/* Middle Navbar*/
.navbar-toggler{
  border: none;
}
.navbar-toggler-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='rgb(172, 172, 172)' stroke-width='2.40' stroke-linecap='round' stroke-miterlimit='10' stroke-linejoin='round' d='M4 8h22M4 15h22M4 22h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon:hover{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='rgb(13, 190, 152)' stroke-width='2.40' stroke-linecap='round' stroke-miterlimit='10' stroke-linejoin='round' d='M4 8h22M4 15h22M4 22.36h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}
.navbar-toggler-icon {
  color: azure;
}
.container-fluid{
  border-left:none;
  border-right:none;
}

/* SECONDARY NAVBAR */
.secondary-navbar {
  transition: top 0.6s ease;
  width: 100%;
  background-color: #000000; /* Change to your desired background color */
  padding: 1rem; /* Adjust padding as needed */
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */

}

.secondary-navbar-item {
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
  color: whitesmoke;
}

.secondary-navbar-item:hover{
  text-decoration: underline;
  list-style-type: none;
  cursor: pointer;
}

.secondary-navbar.fixed {
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure it's above other content */
}
.secondary-navbar img {
  align-self: flex-start; /* Align the image to the start (left) */
}
@media (max-width: 900px) {
  .secondary-navbar {
    display: none; /* Hide it when screen width is 768px or smaller */
  }
}

/* SECONDARY NAVBAR */








.navbar-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.logo-container {
  position: absolute;
  top: 50%;
  left:10px;
  transform: translateY(-50%);
}
.navbar-logo{
  position: absolute;
  top: 50%;
  left:40px;
  transform: translateY(-50%);
}

.navbar-brand img {
  width: 130px; 
  height:130px;
  height: auto; /* Maintain aspect ratio */
}

.btn-close-white{
  margin-top: 10%;
  margin-left: 10%;
  border-color:whitesmoke;
  opacity:100;
}
.btn-close-white:hover{
  margin-top: 10%;
  margin-left: 10%;
  border-color:whitesmoke;
  opacity:100;

}


.line{
  border:none;
  border-top: 2px solid whitesmoke;
  border-color: whitesmoke;
  opacity: 100;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.col{
  color:whitesmoke;
  font-weight: bold;
  list-style-type: none;
}
.elementH{
  font-family: sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
  list-style-type: none;
}
.elementH:hover{
  text-decoration: underline;
  cursor:pointer
}
.elementBH{
  font-size: 16px;
  margin-top: 20px;
  text-transform: uppercase;
  list-style-type: none;
  color: transparent;
  cursor:default;

}
.element{
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.27;
  padding-right: 5px;

}
.element:hover{
  text-decoration: underline;
  list-style-type: none;
  cursor:pointer
}


.navbar-item {
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
  list-style-type: none;
  color:whitesmoke;
}
.navbar-item:hover{
  text-decoration: underline;
  list-style-type: none;
  cursor: pointer;
}
.notificationmenu{
  background-color: transparent;
  border: none;
}
.notificationmenu:hover{
  background-color: transparent;
  border: none;
}
.notificationmenu:active,
.notificationmenu:focus {
  background-color: transparent !important;
  color: white !important;
  box-shadow: none !important;
}

  /* Style the dropdown menu */
.dropdown-menu {
  background-color:rgb(62, 62, 62) ; /* Set background color to black */
  color: white; /* Set text color to white */
  background-origin: 0;
  padding: 10px; /* Adjust the padding to make the dropdown bigger */
  border-radius: 0; /* Remove rounded borders */
  width:400px;
  height:600px;
  left: -300%; /* Position the menu to the left of the button */
  transform: translateX(-70%); /* Move the menu further to the left */
}
@media (max-width: 1400px) {
 
}
.close-icon {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23acacac'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  position: absolute;
  top: 5%; /* Align vertically */
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%); /* Center vertically */
  cursor: pointer;
  font-size: 20px; /* Adjust the font size */
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  height:20px;
  width:20px;
}
.close-icon:focus,
.close-icon:active {
  outline: none;
  box-shadow: none;
}


.dropdown-toggle::after {
  display: none;
}

.btn-login{
  color:white;
  font-weight: bold;
}
.btn-login:hover{
  color:rgb(13, 190, 152);
}
.support-us-button {
  background-color:rgb(13, 190, 152) ; /* blue color */
  color: #000; /* black text color */
  border-radius: 25px; /* full rounded borders */
  border: none;
  font-size: .875rem;
  font-weight: 700;
}
.support-us-button:hover{
  background-color:rgb(13, 190, 152) ; /* blue color */
  color: #000; /* black text color */
  border-radius: 25px; /* full rounded borders */
}

/* Carousel CSS */
.cards-wrapper{
  display: flex;
  
}

.card{
  flex-wrap: wrap;
  margin: -10px;
  border-right: 1px solid #2a2a2a;
  flex: 0 0 250px;
  margin-right: 3px;
  padding-right: 16px;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  
}


.cards-wrapper img{
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
  
  
  
}

.card-text{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start:0px;
  margin-inline-end:0px;
  margin: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: #fff;
  font-family: ProximaNovaCond, ProximaNovaCondFallback, sans-serif;
  font-size: .75rem;
  

}

.carousel-control-prev,.carousel-control-next{
  align-items: center;
  background: black;
  cursor: pointer;
  display: flex;
  height: 100%;
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .2s ease;
  width: 25px;
  opacity: 100%;
}




/*BODY CSS*/
.context-container{
  max-width: 90%; /* Adjust the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}
.b-headline{
  color: #000000;
  font-family: sans-serif;
  font-weight: 550;
  font-style: normal;
  --font-min: 12;
  --font-max: 80;
  font-size: clamp(calc(var(--font-min)*1px),calc(100vw*var(--font-max)/1120),calc(var(--font-max)*1px));
  text-align: center;
  margin-bottom: 30px;
}
.R-headline{
  color: #FF0808;
  font-family: sans-serif;
  font-weight: 550;
  font-style: italic;
  --font-min: 12;
  --font-max: 80;
  font-size: clamp(calc(var(--font-min)*1px),calc(100vw*var(--font-max)/1120),calc(var(--font-max)*1px));
  text-align: center;
  margin-bottom: 30px;
}
.bluescripts{
  color: #083FFF;
  font-family: sans-serif;
  font-weight: 800;
  font-style: normal;
  --font-min: 14;
  --font-max: 30;
  font-size: clamp(calc(var(--font-min)*1px),calc(100vw*var(--font-max)/1120),calc(var(--font-max)*1px));
  text-align: center;
  margin-top:20px;
  margin-bottom: 30px;
  letter-spacing: .2px;
}
.R-line{
  color: #FF0808;
  font-family: sans-serif;
  font-weight: 550;
  font-style: normal;
  --font-min: 14;
  --font-max: 50;
  font-size: clamp(calc(var(--font-min)*1px),calc(100vw*var(--font-max)/1120),calc(var(--font-max)*1px));
  text-align: center;
  margin-bottom: 12px;
}
.b-headline:hover,.R-headline:hover,.bluescripts:hover,.R-line:hover{
  text-decoration: underline;
  cursor:default;
  
}
.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set container height to viewport height for centering */
}

.middle-img {
  max-width: 100%; /* Ensure image does not exceed its container's width */
  height: auto; /* Maintain aspect ratio */
  width: auto; /* Allow image to shrink on smaller screens */
}

.grid-title {
  position: absolute; /* Position title absolutely */
  top: 0; /* Position title at the top */
  left: 50%; /* Position title at the center horizontally */
  transform: translateX(-50%); /* Center title horizontally */
  font-size: 1.5rem; /* Adjust title font size */
  text-align: center; /* Center title text */
  margin-bottom: 24px; /* Add space below title */
  font-family:Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center; /* Center title text */
  margin-top: 60px;
}
.barra{
  color: blue;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Initially, 4 cards per row */
  gap: 10px; /* Space between cards */
  justify-content: center; /* Center the grid horizontally */
}
.Maincard:nth-child(-n+2) {
  margin-top: 100px; /* Add a different margin top for the first row */
}
.Mainimage-container-horizontal {
  position: relative;
  display: flex;
  justify-content: center; /* Center the container horizontally */
  padding-left: 20px; /* Add a little left padding */
  padding-right: 20px; /* Add a little right padding */
  width: 80%; /* Set the width of the container to 80% of the parent container */
  margin: 0 auto; /* Center the container horizontally */
}
.image-container {
  height: 40%; /* Set a fixed height for the image container */
  width: 100%;
  overflow: hidden; /* Hide any parts of the image that overflow the container */
}

.Maincard {
  width: calc(90% - 10px); /* Set a fixed width for each card */
  margin-right: 10px; /* Add space between cards */
  border-radius: 0; /* Remove rounded borders */
  border: none; /* Add border with desired color */
  
}


.card-img-top {
  object-fit: cover; /* Make sure the image covers the entire container */
  height: 100%; /* Make the image take up the full height of the container */
  width: 100%; /* Make the image take up the full width of the container */
}

.Maincard-body {
  width: 100%; /* Make the card body fill the entire card width */
  height: 200px; /* Set a fixed height for the card body */
  overflow-y: auto; /* Add a scrollbar for the vertical overflow */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide the scrollbar in IE */
  color: #000;
  font-family: ProximaNovaCond, ProximaNovaCondFallback, sans-serif;
  font-size: 1.00rem;
  font-weight: 600;
  line-height: 1.1;
}

.Maincard-title,
.Maincard-text {
  margin-bottom: 0.5rem; /* Add some spacing between title and text */
}
.Maincard-title{
  font-family: ProximaNovaCond, ProximaNovaCondFallback, sans-serif;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: .025rem;
  margin-bottom: 8px;
  margin-top: 0;
  text-transform: uppercase;
  align-items: start;
  color: #333;
  --font-min: 12px;
  --font-max: 20px;

}


.horizontal-card{
  width:65%; /* Set a fixed width for each card */
  margin-right: 0px; /* Add space between cards */
  padding-bottom: 0;
  border-radius: 0; /* Remove rounded borders */
  border: none; /* Add border with desired color */
  border-bottom: 1px solid #ced4da;
  margin: 24px 0 0;
  padding-bottom: 24px;

}
.horizontalimage-container{
  height: 100%; /* Set a fixed height for the image container */
  width: 100%;
  padding: 5px;
}
.horizontalcard-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.horizontalcard-body{
  padding: 0;
  --font-min: 12px;
  --font-max: 20px;
}

@media (max-width: 1400px) {
  .vertical-container{
    display: none;
  }
  .Mainimage-container-horizontal {
    width: 100%; /* Increase container width on smaller screens */
  }
  .card-deck {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on smaller screens */
  }
  .Maincard {
    width: calc(100% - 10px); /* Set a fixed width for each card on smaller screens */
  }
  .grid-title {
    font-size: 1.3rem; /* Adjust title font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .Mainimage-container-horizontal {
    width: 100%; /* Increase container width on smaller screens */
  }
  .card-deck {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row on even smaller screens */
  }
  .Maincard {
    width: calc(100% - 10px); /* Set a fixed width for each card on even smaller screens */
    margin-right: 0; /* Remove margin between cards */
  }
}
@media (max-width: 576px) {
  .col-lg-3 {
    flex: 0 0 100%; /* Show one card per row on even smaller screens */
  }
}


.websitesline {
  width: 50%;
  height: 1px;
  border: 1px solid #ced4da;
  margin: 0;
}
